[submodule "AppstoreNX"]
	path = AppstoreNX
	url = https://github.com/vgmoose/appstorenx.git
[submodule "GagOrder"]
	path = GagOrder
	url = https://github.com/Adubbz/Gag-Order
[submodule "hbl"]
	path = hbl
	url = https://github.com/switchbrew/nx-hbloader.git
[submodule "hbm"]
	path = hbm
	url = https://github.com/StevenMattera/nx-hbmenu.git
[submodule "dreport"]
	path = dreport
	url = https://github.com/Thog/nx-dreport.git
[submodule "AtmosphereCFW"]
	path = AtmosphereCFW
	url = https://github.com/Atmosphere-NX/Atmosphere.git
[submodule "EdiZon_SE"]
	path = EdiZon_SE
	url = https://github.com/thomasnet-mc/EdiZon.git
[submodule "LibNX"]
	path = LibNX
	url = https://github.com/switchbrew/libnx.git
[submodule "Hekate-LayeredFS"]
	path = Hekate-LayeredFS
	url = https://github.com/TheDgtl/hekate.git
