[submodule "Resources/Submodules/AppstoreNX"]
	path = Resources/Submodules/AppstoreNX
	url = https://github.com/vgmoose/appstorenx.git
[submodule "Resources/Submodules/SDFilesUpdater"]
	path = Resources/Submodules/SDFilesUpdater
	url = https://github.com/StevenMattera/SDFilesUpdater.git
[submodule "Resources/Submodules/LibNX"]
	path = Resources/Submodules/LibNX
	url = https://github.com/switchbrew/libnx.git
[submodule "Resources/Submodules/EdiZon"]
	path = Resources/Submodules/EdiZon
	url = https://github.com/thomasnet-mc/EdiZon.git
[submodule "Resources/Submodules/Atmosphere"]
	path = Resources/Submodules/Atmosphere
	url = https://github.com/Atmosphere-NX/Atmosphere.git
[submodule "Resources/Submodules/nx-dreport"]
	path = Resources/Submodules/nx-dreport
	url = https://github.com/Thog/nx-dreport.git
[submodule "Resources/Submodules/HomebrewMenu"]
	path = Resources/Submodules/HomebrewMenu
	url = https://github.com/StevenMattera/nx-hbmenu.git
[submodule "Resources/Submodules/HomebrewLoader"]
	path = Resources/Submodules/HomebrewLoader
	url = https://github.com/switchbrew/nx-hbloader.git
[submodule "Resources/Submodules/GagOrder"]
	path = Resources/Submodules/GagOrder
	url = https://github.com/Adubbz/Gag-Order.git
